@model  AlumnoModel

@{
    ViewData["Title"] = "Pagina de Alumnos";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>learn about <a href="https://docs.microsoft.com/aspnet/core">buildig Webs apss with ASP.NET Core</a></p>
</div>



<div class="table-condensed">
   <table cellpadding="0" cellspacing="0" class="table">
       <thead>
           <tr>
               <th scope="col" > Numero de Control</th>
               <th scope="col" > Nombre</th>
               <th scope="col" > Apellido Paterno</th>
               <th scope="col" > Apellido Materno</th>
               <th scope="col" > Codigo de Especialidad</th>
           </tr>
       </thead>
       @foreach (AlumnoModel alumno in (AlumnoModel[])ViewBag.alumnos)
       {
           <tr>
               <td>@alumno.NumCont</td>
               <td>@alumno.Nombre</td>
               <td>@alumno.Apellido_paterno</td>
               <td>@alumno.Apellido_paterno</td>
               <td>@alumno.Codigo_especialidad</td>
           </tr>
       }
   </table>
</div>
